[Unit]
Description=VotingWorks Module SmartCard

[Service]
WorkingDirectory=/bin/module-smartcard
ExecStart=/bin/bash /bin/module-smartcard/run.sh
Restart=always
# Restart service after 10 seconds if the dotnet service crashes:
RestartSec=10
KillSignal=SIGINT
SyslogIdentifier=votingworks-module-smartcard

[Install]
WantedBy=multi-user.target